

.favoriteIcon {
    position: absolute;
    cursor: pointer;
    top: 1.2rem;
    z-index: 100;
    width: 1.5rem;
    right: 1.2rem;
}

.cardLi {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .3rem;
    background-color: white;
    padding: .5rem;
    padding-bottom: 1.3rem;
    border-radius: 1.5rem;
    user-select: none;
}

.foodImage {
    width: 15rem;
    height: 10rem;
    object-fit: scale-down;
}

.cardOffer {
    padding: .2rem .8rem;
    background-color: #EB5757;
    color: white;
    position: absolute;
    top: 1.2rem;
    left: 0;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.cardDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardAddIcon {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
    transition: all .15s ease;
    display: flex;
    cursor: pointer;
    transition: all .15s ease;
}

.cardAddIcon img {
    padding: .4rem .4rem;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    width: 2rem;
    background-color: #F8B602;
}

.changeCount {
    display: flex;
    flex-direction: row;
    gap: .4rem;
    font-weight: 500;
    font-size: 1.8rem;
}
