
.categoryText {
    margin: .8rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.categoryText h3 {
    margin: 0;
}

.categoryText div {
    display: flex;
    flex-direction: row;
    gap: .2rem;
    text-decoration: none;
    user-select: none;
    color: #F8B602;
}

.categoryText div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.categoriesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    margin: 0.3rem 2rem;
    list-style-type: none;
    overflow: hidden;
    padding: .3rem;
    transition: max-height 0.3s ease;
}

.categoryItem{
    text-decoration: none;
    gap: 1rem;
    color: #555;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2.5rem;
    border-radius: 1.3rem;
    height: 5rem;
}

