.logo {
    padding-top: 0.7rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px ;
    list-style-type: none;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.7rem;
    align-items: center;
    padding: 0 20px;
    color: #a49fac;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    background-color: white;
}

.active {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.7rem;
    align-items: center;
    padding: 0 20px;
    color: #a49fac;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    background-color: #ffcc41;
    color: white;
}

