.logo {
    padding-top: 0.7rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px ;
    list-style-type: none;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.7rem;
    align-items: center;
    padding: 0 20px;
    color: #a49fac;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    background-color: white;
}

.active {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.7rem;
    align-items: center;
    padding: 0 20px;
    color: #a49fac;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    background-color: #ffcc41;
    color: white;
}


.modal {
    width: 30%;
}

.modalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modalContainer h3 {
    font-size: 1rem;
}

.modalError {
    color: red;
    margin: .2rem 0 0 0;
    display: none;
}

.modalButtonContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .5rem;
}

.modalButtonContainer button {
    color: white;
    background-color: #F8B602;
    border: 2px solid #F8B602;
    border-radius: .5rem;
    transition: all .15s ease;
    font-size: 1rem;
    padding: .3rem .5rem;
    cursor: pointer;
}

.modalButtonContainer button:hover {
    background-color: transparent;
    color: #F8B602;
}