.logo {
    padding-top: 0.7rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px ;
    list-style-type: none;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.7rem;
    align-items: center;
    padding: 0 20px;
    color: #a49fac;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
}

.active {
    background-color: #ffcc41;
    color: white;
}

.banner {
    position: relative;
    border-radius: 20px;
    width: 14rem;
}

.bannerImage {
    z-index: -10;
    border-radius: 20px;
    width: 14rem;
}

.bannerText {
    color: white;
    position: absolute;
    top: .5rem;
    left: 1rem;
    right: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.bannerButton {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    background-color: white;
    padding: 10px 15px;
    color: #74707a;
    text-decoration: none;
    border: none;
    border-radius: 0.8rem;
    font-weight: 700;
    transition: all .15s ease;
}

.bannerButton:hover {
    background-color: #c6c6c6;
    color: white;
}